<div class="dashboard">
  <header class="dashboard-header">
    <div class="logo">
      <img src="assets/images/trabajo-fin-de-master-gamescope.png" alt="GameScope Logo" class="logo-image" (click)="goToProfile()">
    </div>
    <button class="profile-button" (click)="goToProfile()">{{ user?.first_name || 'Usuario' }}</button>
  </header>

  <div class="dashboard-body">
    <aside class="dashboard-sidebar">
      <div class="profile-info">
        <img [src]="user?.profile_image || 'assets/images/trabajo-fin-de-master-gamescope.png'" alt="Profile Image" class="profile-image">
        <ul class="sidebar-menu">
          <li><a routerLink="/user-dashboard">Mi perfil</a></li>
          <li><a routerLink="/favorites">Favoritos</a></li>
          <li><a routerLink="/pending-games">Juegos pendientes</a></li>
          <li><a routerLink="/reviews">Mis reseñas</a></li>
          <li *ngIf="isAdmin"><a routerLink="/manage-users">Gestionar usuarios</a></li>
          <li *ngIf="isAdmin"><a routerLink="/manage-video-games">Gestionar videojuegos</a></li>
          <li *ngIf="isAdmin"><a routerLink="/manage-reviews">Gestionar reseñas</a></li>
        </ul>
        <button class="logout-button" (click)="logout()">Cerrar sesión</button>
      </div>
    </aside>

    <main class="dashboard-main">
      <section class="profile-section">
        <div class="profile-picture">
          <img [src]="user?.profile_image || 'assets/images/trabajo-fin-de-master-gamescope.png'" alt="Profile Image">
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <input type="file" (change)="uploadProfileImage($event)">
          <div *ngFor="let control of profileControls">
            <input [formControlName]="control.name" [placeholder]="control.placeholder" type="text" *ngIf="control.name !== 'newPassword' && control.name !== 'newPassword_confirmation'">
            <input [formControlName]="control.name" [placeholder]="control.placeholder" type="password" [autocomplete]="'off'" *ngIf="control.name === 'newPassword' || control.name === 'newPassword_confirmation'">
          </div>
          <button type="submit">Guardar cambios</button>
        </form>
        <div class="success-message" *ngIf="updateSuccessMessage">{{ updateSuccessMessage }}</div>
        <div class="error-message" *ngIf="updateErrorMessage">{{ updateErrorMessage }}</div>
      </section>

      <div class="game-lists">
        <section class="favorites-section">
          <h2>⭐ FAVORITOS</h2>
          <app-video-games [videoGames]="favorites" [fetchGames]="false"></app-video-games>
        </section>

        <section class="pending-section">
          <h2>LISTA: Pendientes jugar</h2>
          <app-video-games [videoGames]="pendingGames" [fetchGames]="false"></app-video-games>
        </section>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
