.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.search-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 10px; 
}

.search-container form input, 
.search-container form select {
  width: 32%;
}


@media (max-width: 768px) {
  .search-container form input, 
  .search-container form select {
    width: 45%;
  }
  .search-container {
    padding: 0
  }
}