<div class="container" *ngIf="game">
  <h1>{{ game.name }}</h1>
  <div class="details-container">
    <div class="image-container">
      <img [src]="game.image || 'path/to/default-image.jpg'" alt="{{ game.name }}">
    </div>
    <div class="info-container">
      <h2>DESCRIPCIÓN</h2>
      <p>{{ game.description }}</p>
      <div class="ratings">
        <div class="rating">
          <h3>CALIFICACIONES</h3>
          <p>{{ game.rating | number: '1.1-1' }}/5</p>
          <div class="stars">
            <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= game.rating">★</span>
          </div>
        </div>
        <div class="reviews">
          <h3>RESEÑAS</h3>
          <div *ngFor="let review of reviews">
            <div class="stars">
              <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= review.rating">★</span>
            </div>
            <p>{{ review.content }}</p>
          </div>
        </div>
      </div>
      <button class="btn btn-favorite" (click)="toggleFavorite()">
        {{ isFavorite ? 'RETIRAR DE FAVORITOS' : 'AÑADIR A FAVORITOS' }}
      </button>
      <button class="btn btn-pending" (click)="togglePending()">
        {{ isPending ? 'RETIRAR DE PENDIENTES' : 'AÑADIR A PENDIENTES' }}
      </button>
      <div class="user-rating" *ngIf="authService.isAuthenticated()">
        <h3>Califica el Juego</h3>
        <form (submit)="rateGame(newRating)">
          <select [(ngModel)]="newRating" name="rating">
            <option *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{ star }}</option>
          </select>
          <button type="submit">Calificar</button>
        </form>
        <div class="stars">
          <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= game.rating">★</span>
        </div>
      </div>
    </div>
  </div>

  <div class="add-review" *ngIf="authService.isAuthenticated()">
    <h3>Añadir Reseña</h3>
    <textarea [(ngModel)]="newReview" placeholder="Escribe tu reseña"></textarea>
    <button (click)="addReview()">Enviar</button>
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
