<div class="container" *ngIf="game">
    <h1>{{ game.name }}</h1>
    <div class="details-container">
      <div class="image-container">
        <img [src]="game.image || 'path/to/default-image.jpg'" alt="{{ game.name }}">
      </div>
      <div class="info-container">
        <h2>DESCRIPCIÓN</h2>
        <p>{{ game.description }}</p>
        <div class="ratings">
          <div class="rating">
            <h3>CALIFICACIONES</h3>
            <p>{{ game.rating }}/5</p>
            <div class="stars">
              <span *ngFor="let star of [1,2,3,4,5]" class="star" [class.filled]="star <= game.rating">★</span>
            </div>
          </div>
          <div class="reviews">
            <h3>RESEÑAS</h3>
            <div class="stars">
              <span *ngFor="let star of [1,2,3,4,5]" class="star filled">★</span>
            </div>
          </div>
        </div>
        <button class="btn btn-favorite">AÑADIR A FAVORITOS</button>
      </div>
    </div>
  </div>
  