<div class="compare-container" *ngIf="game1 && game2">
  <h1>Comparativa de videojuegos</h1>
  <div class="games-comparison">
    <div class="game-details">
      <h2>{{ game1.name }}</h2>
      <img [src]="game1.image || 'path/to/default-image.jpg'" alt="{{ game1.name }}">
      <div class="ratings">
        <p>Calificación: {{ game1.rating }}/5</p>
        <div class="stars">
          <span *ngFor="let star of [1,2,3,4,5]" class="star" [class.filled]="star <= game1.rating">★</span>
        </div>
        <div class="criteria">
          <p>Gráficos: {{ formatValue(game1.graphics) }}/10</p>
          <app-progress-bar [value]="game1.graphics || 0" [color]="'grey'"></app-progress-bar>
          <p>Jugabilidad: {{ formatValue(game1.gameplay) }}/10</p>
          <app-progress-bar [value]="game1.gameplay || 0" [color]="'grey'"></app-progress-bar>
          <p>Historia: {{ formatValue(game1.story) }}/10</p>
          <app-progress-bar [value]="game1.story || 0" [color]="'grey'"></app-progress-bar>
        </div>
      </div>
    </div>
    <div class="game-details">
      <h2>{{ game2.name }}</h2>
      <img [src]="game2.image || 'path/to/default-image.jpg'" alt="{{ game2.name }}">
      <div class="ratings">
        <p>Calificación: {{ game2.rating }}/5</p>
        <div class="stars">
          <span *ngFor="let star of [1,2,3,4,5]" class="star" [class.filled]="star <= game2.rating">★</span>
        </div>
        <div class="criteria">
          <p>Gráficos: {{ formatValue(game2.graphics) }}/10</p>
          <app-progress-bar [value]="game2.graphics || 0" [color]="getBarColor(game1.graphics, game2.graphics)"></app-progress-bar>
          <p>Jugabilidad: {{ formatValue(game2.gameplay) }}/10</p>
          <app-progress-bar [value]="game2.gameplay || 0" [color]="getBarColor(game1.gameplay, game2.gameplay)"></app-progress-bar>
          <p>Historia: {{ formatValue(game2.story) }}/10</p>
          <app-progress-bar [value]="game2.story || 0" [color]="getBarColor(game1.story, game2.story)"></app-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
