.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);
}

.register-container {
  max-width: 600px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff62;
  color: var(--color-secondary);
  border-radius: var(--border-radius);
  text-align: center;
}

.register-container h1 {
  font-size: var(--font-size-medium);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: var(--font-size-xsmall);
  margin-top: 5px;
}
