<div class="dashboard">
  <header class="dashboard-header">
    <div class="logo">
      <img src="assets/images/trabajo-fin-de-master-gamescope.png" alt="GameScope Logo" class="logo-image" (click)="goToProfile()">
    </div>
    <button class="profile-button">Favoritos</button>
  </header>

  <div class="dashboard-body">
    <aside class="dashboard-sidebar">
      <div class="profile-info">
        <img src="assets/images/trabajo-fin-de-master-gamescope.png" alt="Profile Image" class="profile-image">
        <ul class="sidebar-menu">
          <li><a routerLink="/user-dashboard">Mi perfil</a></li>
          <li><a routerLink="/favorites">Favoritos</a></li>
          <li><a routerLink="/pending-games">Juegos pendientes</a></li>
          <li><a routerLink="/reviews">Mis reseñas</a></li>
          <li *ngIf="isAdmin"><a routerLink="/manage-users">Gestionar usuarios</a></li>
          <li *ngIf="isAdmin"><a routerLink="/manage-video-games">Gestionar videojuegos</a></li>
          <li *ngIf="isAdmin"><a routerLink="/manage-reviews">Gestionar reseñas</a></li>
        </ul>
        <button class="logout-button">Cerrar sesión</button>
      </div>
    </aside>

    <main class="dashboard-main">
      <section class="favorites-section">
        <h2>⭐ FAVORITOS</h2>
        <app-video-games [videoGames]="favorites" [fetchGames]="false"></app-video-games>
      </section>
    </main>
  </div>
</div>
